@charset "UTF-8";
body {
  margin: 0px;
  height: 2000px;
}

.header {
  width: 100%;
  height: 3%;
}
.header .logo {
  background-image: url("../content/img/default-logo.png");
  width: 140px;
  height: 40px;
  background-repeat: no-repeat;
  margin: 20px 14%;
}
.header .menu_btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 14%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .menu_btn > span,
.header .menu_btn > span::before,
.header .menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.header .menu_btn > span::before {
  content: "";
  top: -8px;
}
.header .menu_btn > span::after {
  content: "";
  top: 8px;
}
.header .menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: black;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  position: absolute;
  z-index: 1;
}
.header .menu_item {
  display: block;
  padding: 12px 100px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  transition-duration: 0.25s;
}
.header .menu_item:hover {
  background-color: #cfd8dc;
}
.header #menu_toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
.header #menu_toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header #menu_toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header #menu_toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}
.header #menu_toggle {
  opacity: 0;
}

.secshion_one_car {
  height: 1016px;
  width: 100%;
  background-color: none;
}
.secshion_one_car .one_car {
  background-image: url("../content/img/one_car.jpg");
  height: 657px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-height: 831px;
  margin-bottom: 20%;
  display: flex;
  -o-object-position: 50% 22%;
     object-position: 50% 22%;
  background-position: 50% 22%;
}
.secshion_one_car .three_ad_blocks {
  height: 356px;
  width: 894px;
  background-position: bottom;
  display: flex;
  margin-top: 38%;
  justify-content: center;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
  position: static;
}
.secshion_one_car .three_ad_blocks .advertising_first {
  width: 270px;
  height: 270px;
  background-color: #354eb4;
  padding: 10px 9px;
  display: flex;
}
.secshion_one_car .three_ad_blocks .advertising_first .faster {
  width: 270px;
  height: 270px;
  color: #ffffff;
  left: 30%;
}
.secshion_one_car .three_ad_blocks .advertising_first .credit_cart {
  background-image: url("../content/img/3.jpg");
  width: 100px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 22px 93px -7px 81px;
  padding-bottom: 10px;
}
.secshion_one_car .three_ad_blocks .advertising_second {
  width: 255px;
  height: 270px;
  background-color: #4f6057;
  padding: 10px 16px;
  display: flex;
  margin-left: 3px;
}
.secshion_one_car .three_ad_blocks .advertising_second .key_car {
  background-image: url("../content/img/2.png");
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 17px 99px -4px 88px;
}
.secshion_one_car .three_ad_blocks .advertising_third {
  width: 248px;
  height: 229px;
  background-color: #975460;
  padding: 30px 20px;
  display: flex;
  margin-left: 3px;
}
.secshion_one_car .three_ad_blocks .advertising_third .mini_car {
  background-image: url("../content/img/1.png");
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: -3px 82px;
}

.text {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px 0 0;
  font-style: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
}

.text_title {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0px 0px 0px;
  font-style: sans-serif;
  display: flex;
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
}

.coment {
  font-size: 1.25rem;
  font-style: sans-serif;
  letter-spacing: 1px;
  margin: 5px 0 0;
  text-align: center;
  font-weight: 300;
}

.rental {
  width: 260px;
  height: 260px;
  color: #ffffff;
  left: 30%;
}

.batter {
  height: 240px;
  width: 260px;
  color: #ffffff;
  left: 30%;
}

.advantage_block {
  height: 140px;
  left: 24%;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  position: static;
}
.advantage_block .free {
  height: 65px;
  width: 65px;
  background-image: url("../content/img/free.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  background-size: contain;
  flex-wrap: nowrap;
  margin-right: 15px;
}
.advantage_block .dollar {
  height: 65px;
  width: 65px;
  background-image: url("../content/img/dollar.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-left: 20px;
  background-size: contain;
  margin-right: 15px;
}
.advantage_block .day {
  height: 65px;
  width: 65px;
  background-image: url("../content/img/day.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-left: 20px;
  background-size: contain;
  margin-right: 15px;
}

.underlined {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  justify-content: space-evenly;
  cursor: pointer;
}

.for_text {
  height: 40px;
  width: 100%;
  margin-top: 2%;
}

.bookind_box {
  height: 300px;
  width: 100%;
  background-color: #3151aa;
  padding: 50px 50px;
}

.book_text {
  height: 227px;
  width: 80%;
  display: flex;
  margin: auto;
  padding-top: 3%;
  justify-content: center;
  position: static;
}

.button {
  background-color: #3c496f;
  border: none;
  color: white;
  padding: 15px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 88px 51px;
  cursor: pointer;
  border-radius: 95px;
}

.oll_car {
  width: 100%;
  height: 300px;
}
.oll_car .title_car {
  height: 7px;
  max-width: 70%;
  display: flex;
  margin: auto;
  padding-top: 3%;
}

.car_advertising {
  max-width: 800px;
  height: 1824px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
}
.car_advertising .blu_car {
  background-image: url("../content/img/001.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .blu_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .purple_car {
  background-image: url("../content/img/12.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .purple_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .red_car {
  background-image: url("../content/img/xxx.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .red_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .orange_car {
  background-image: url("../content/img/13.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .orange_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .brown_car {
  background-image: url("../content/img/ghhghg.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .brown_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}

.text_title_bottom {
  font-size: 2.87rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 60px 170px 0px;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  word-break: break-all;
  word-break: break-word;
  flex-direction: row-reverse;
}

.title_bottom {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 32px 200px 0px;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  font-family: italic;
  font-weight: lighter;
  word-break: break-word;
}

.announcement {
  font-size: 26px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  word-break: break-all;
}

.announcement_ziro {
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  word-break: break-word;
  font-weight: lighter;
}

.box {
  width: 198px;
  height: 91px;
  font-size: 26px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  display: flex;
  word-break: break-word;
  align-items: center;
}

.announcement_first {
  height: 28px;
  width: 445px;
  margin: 25px 0px 0px;
  background-color: #ffffff;
  display: flex;
}
.announcement_first .places_img {
  background-image: url("../content/img/mesta.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  margin: 6px 5px 10px 0px;
}
.announcement_first .suitcase_img {
  background-image: url("../content/img/chemodan.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  margin: 5px 12px 4px 24px;
}
.announcement_first .announcement_plases {
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

.announcement_third {
  height: 153px;
  width: 367px;
  margin: 20px 0px 0px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  display: flex;
}

.button_announcement {
  background-color: #3151aa;
  border: none;
  color: white;
  padding: 9px 93px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 162px 15px 0px;
  cursor: pointer;
  border-radius: 95px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .three_ad_blocks {
    flex-direction: column;
    align-items: center;
    padding-top: 65%;
    width: 355%;
    width: 710px;
  }
  .one_car {
    height: 500%;
  }
}