@charset "UTF-8";
body {
  margin: 0px;
  height: 3000px;
}

.header {
  width: 100%;
  height: 3%;
  margin-top: 0%;
}
.header .logo {
  background-image: url("../content/img/default-logo.png");
  width: 140px;
  height: 40px;
  background-repeat: no-repeat;
  margin: 20px 14%;
}
.header .menu_btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  right: 15%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .menu_btn > span,
.header .menu_btn > span::before,
.header .menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.header .menu_btn > span::before {
  content: "";
  top: -8px;
}
.header .menu_btn > span::after {
  content: "";
  top: 8px;
}
.header .menubox {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: black;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  position: absolute;
  z-index: 1;
}
.header .menu_item {
  display: block;
  padding: 12px 100px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  transition-duration: 0.25s;
}
.header .menu_item:hover {
  background-color: #cfd8dc;
}
.header #menu_toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
.header #menu_toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header #menu_toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header #menu_toggle:checked ~ .menubox {
  visibility: visible;
  left: 0;
}
.header #menu_toggle {
  opacity: 0;
}

.secshion_one_car {
  height: 820px;
  width: 100%;
  background-color: none;
}
.secshion_one_car .one_car {
  background-image: url("../content/img/one_car.jpg");
  height: 744px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-height: 831px;
  margin-bottom: 20%;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -26px;
  left: 0px;
}
.secshion_one_car .three_ad_blocks {
  height: 356px;
  width: 894px;
  background-position: bottom;
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
  top: 0px;
  min-height: 336px;
  margin: 555px auto 0;
}

.advertising_first {
  width: 270px;
  height: 270px;
  background-color: #354eb4;
  padding: 27px 4px;
  display: flex;
  margin-bottom: 4px;
}
.advertising_first .faster {
  width: 261px;
  height: 227px;
  color: #ffffff;
  left: 30%;
}
.advertising_first .credit_cart {
  background-image: url("../content/img/3.jpg");
  width: 100px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 22px 93px -7px 81px;
  padding-bottom: 10px;
}

.advertising_second {
  width: 267px;
  height: 270px;
  background-color: #4f6057;
  padding: 10px 0px;
  display: flex;
  margin-left: 4px;
  margin-bottom: 4px;
}
.advertising_second .key_car {
  background-image: url("../content/img/2.png");
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 17px 99px -4px 88px;
}

.advertising_third {
  width: 264px;
  height: 271px;
  background-color: #975460;
  padding: 30px 20px;
  display: flex;
  margin-left: 4px;
}
.advertising_third .mini_car {
  background-image: url("../content/img/1.png");
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: -4px 73px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px 0 0;
  font-style: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
}

.text_contact {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px 50px 0;
  font-style: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  font-family: Arial, Helvetica, sans-serif;
}

.text_title {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0px 0px 0px;
  font-style: sans-serif;
  display: flex;
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
}

.coment {
  font-size: 1.25rem;
  font-style: sans-serif;
  letter-spacing: 1px;
  margin: 5px 0 0;
  text-align: center;
  font-weight: 300;
}

.rental {
  width: 260px;
  height: 260px;
  color: #ffffff;
  left: 30%;
}

.batter {
  height: 240px;
  width: 225px;
  color: #ffffff;
  left: 30%;
}

.advantage_block {
  height: 140px;
  left: 24%;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  position: static;
  margin-top: 50px;
}
.advantage_block .free {
  height: 65px;
  width: 65px;
  background-image: url("../content/img/free.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  background-size: contain;
  flex-wrap: nowrap;
  margin-right: 15px;
}
.advantage_block .dollar {
  height: 65px;
  width: 65px;
  background-image: url("../content/img/dollar.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-left: 20px;
  background-size: contain;
  margin-right: 15px;
}
.advantage_block .day {
  height: 65px;
  width: 65px;
  background-image: url("../content/img/day.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: flex-end;
  margin-left: 20px;
  background-size: contain;
  margin-right: 15px;
}

.underlined {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  justify-content: space-evenly;
  cursor: pointer;
}

.underlined_learn {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  cursor: pointer;
}

.underlined_white {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  justify-content: space-evenly;
  cursor: pointer;
  color: #cfd8dc;
}

.for_text {
  height: 40px;
  width: 100%;
  margin-top: 1%;
}

.bookind_box {
  height: 300px;
  width: 100%;
  background-color: #3151aa;
  padding: 50px 50px;
}

.book_text {
  height: 256px;
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
  position: static;
}

.button {
  background-color: #3c496f;
  border: none;
  color: white;
  padding: 12px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 88px 51px;
  cursor: pointer;
  border-radius: 95px;
}

.oll_car {
  width: 100%;
  height: 300px;
}
.oll_car .title_car {
  height: 7px;
  max-width: 70%;
  display: flex;
  margin: auto;
  padding-top: 3%;
}

.car_advertising {
  max-width: 800px;
  height: 1824px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
}
.car_advertising .blu_car {
  background-image: url("../content/img/001.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .blu_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .purple_car {
  background-image: url("../content/img/12.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .purple_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .red_car {
  background-image: url("../content/img/xxx.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .red_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .orange_car {
  background-image: url("../content/img/13.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .orange_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}
.car_advertising .brown_car {
  background-image: url("../content/img/ghhghg.jpg");
  width: 374px;
  height: 184px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 4%;
}
.car_advertising .brown_car_second {
  width: 343px;
  height: 333px;
  background-size: contain;
  background-repeat: no-repeat;
}

.text_title_bottom {
  font-size: 2.87rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 26px 152px 0px;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  word-break: break-all;
  word-break: break-word;
  flex-direction: row-reverse;
}

.title_bottom {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 32px 200px 0px;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  font-family: italic;
  font-weight: lighter;
  word-break: break-word;
}

.announcement {
  font-size: 26px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  word-break: break-all;
  margin: -4% 0% 0%;
}

.announcement_ziro {
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  word-break: break-word;
  font-weight: lighter;
}

.box {
  width: 198px;
  height: 91px;
  font-size: 26px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  display: flex;
  word-break: break-word;
  align-items: center;
}

.announcement_first {
  height: 28px;
  width: 445px;
  margin: 25px 0px 0px;
  background-color: #ffffff;
  display: flex;
}
.announcement_first .places_img {
  background-image: url("../content/img/mesta.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  margin: 6px 5px 10px 0px;
}
.announcement_first .suitcase_img {
  background-image: url("../content/img/chemodan.png");
  width: 16px;
  height: 16px;
  background-size: contain;
  margin: 5px 12px 4px 24px;
}
.announcement_first .announcement_plases {
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
}

.announcement_third {
  height: 153px;
  width: 367px;
  margin: 20px 0px 0px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  display: flex;
}

.button_announcement {
  background-color: #3151aa;
  border: none;
  color: white;
  padding: 9px 93px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 162px 15px 0px;
  cursor: pointer;
  border-radius: 95px;
  white-space: nowrap;
}

.button_announcement:hover {
  background-color: #0f046c;
}

@media screen and (max-width: 768px) {
  .three_ad_blocks {
    flex-direction: column;
    align-items: center;
    padding-top: 70%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
}
.best_offers_box {
  height: 381px;
  background-color: #5b6149;
  text-align: center;
  padding: 4%;
  margin-top: 30px;
}

.offers_box {
  height: 296px;
  width: 82%;
  background-position: center;
  margin: auto;
}

.learn_more {
  background-color: white;
  border: none;
  color: #5b6149;
  padding: 15px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 50px 34px;
  cursor: pointer;
  border-radius: 95px;
}

.button:hover {
  background-color: #0f046c;
}

.learn_more:hover {
  background-color: #6ee419;
}

.learn_more_blu:hover {
  background-color: #0f046c;
}

.learn_more_blus:hover {
  background-color: #0f046c;
}

.learn_more_green:hover {
  background-color: #042b04;
}

.learn_more_pink:hover {
  background-color: #aa3434;
}

.learn_more_red:hover {
  background-color: #d28989;
}

.learn_more_blu {
  background-color: #354eb4;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
}

.learn_more_blus {
  background-color: #354eb4;
  border: none;
  color: white;
  padding: 18px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  white-space: nowrap;
  margin-top: -34px;
}

.learn_more_red {
  background-color: white;
  border: none;
  padding: 15px 87px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  color: #945a5c;
}

.learn_more_green {
  background-color: #5b6149;
  border: none;
  padding: 19px 77px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  color: white;
}

.learn_more_pink {
  background-color: #945a5c;
  border: none;
  padding: 19px 99px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  color: white;
}

.rent_car {
  height: 815px;
}
.rent_car .blu_picture {
  background-color: #3151aa;
  height: 412px;
  width: 429px;
  position: relative;
  left: 201px;
  top: 215px;
}
.rent_car .woman_picture {
  background-image: url("../content/img/woman.jpg");
  height: 536px;
  width: 473px;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-height: 831px;
  margin-bottom: 20%;
  display: flex;
  background-position: 50% 2%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 259px;
  top: 4255px;
}
.rent_car .rent_text {
  height: 534px;
  width: 570px;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  z-index: 2;
  background-color: white;
  position: relative;
  transition-duration: inherit;
  position: absolute;
  left: 690px;
  top: 4337px;
  right: 0px;
}
.rent_car .rent_text .rent_for_text {
  height: 500px;
  width: 410px;
  background-position: center;
  margin: 46px 57px 2px;
  background-color: none;
}
.rent_car .rent_text .rent {
  background-position: center;
  background-color: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: sans-serif;
}
.rent_car .title_woman {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 1px;
  font-style: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif Arial, Helvetica, sans-serif;
  word-break: break-all;
}

.before {
  margin: 30px 0px 24px 1px;
  font-family: FontAwesome;
  color: #324b4e;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}

.happy_people_box {
  background-color: #945a5c;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
  margin: auto;
}
.happy_people_box .happy_people {
  height: 444px;
  width: 940px;
  gap: 3;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  align-content: flex-start;
  margin-top: 60px;
}
.happy_people_box .happy_people .imidge_conteiner {
  width: 293px;
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}
.happy_people_box .happy_people .happy_women {
  background-image: url("../content/img/hggh.jpg");
}
.happy_people_box .happy_people .pair {
  background-image: url("../content/img/jhj.jpg");
}
.happy_people_box .happy_people .pair_girl {
  background-image: url("../content/img/ghgh.jpg");
}
.happy_people_box .happy_people .pair_old {
  background-image: url("../content/img/ty.jpg");
}
.happy_people_box .happy_people .pair_one {
  background-image: url("../content/img/fg.jpg");
}
.happy_people_box .happy_people .pair_none {
  background-image: url("../content/img/ghghh.jpg");
}
.happy_people_box .info_title {
  height: 94px;
}
.happy_people_box .info_text {
  height: 100px;
  width: 60%;
  margin-top: 40px;
}

.red_black_cars {
  height: 860px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 6px;
  position: relative;
}
.red_black_cars .cars {
  background-image: url("../content/img/fxgdf.jpg");
  width: 902px;
  height: 325px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 54px auto 0;
  -o-object-position: 50% 9%;
     object-position: 50% 9%;
  background-color: aliceblue;
  background-size: contain;
  background-position: 0px 0px;
  background-size: cover;
}

.animaition {
  background-color: #5b6149;
  height: 220px;
  width: 1200px;
  will-change: auto;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  margin-top: 10%;
  position: relative;
  max-height: auto;
}

.contact_box {
  height: 381px;
  max-width: 1078px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
}
.contact_box .all_contact_box {
  height: 400px;
  display: flex;
}
.contact_box .all_contact_box .one_contact_box {
  height: 380px;
  width: 360px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.contact_box .all_contact_box .two_contact_box {
  height: 380px;
  width: 360px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.contact_box .all_contact_box .three_contact_box {
  height: 380px;
  width: 360px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

form {
  width: auto;
  float: right;
  margin-right: 30px;
}

input {
  width: 293px;
  height: 65px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid white;
  background: #cbcbc6;
  outline: none;
  position: relative;
}

input:focus {
  width: 300px;
}

button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}

.whatsapp_img {
  background-image: url(../content/img/73.png);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}

.live_img {
  background-image: url(../content/img/74.png);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}

.Sample_text {
  height: 123px;
  background-color: #5b6149;
}

.website {
  height: 123px;
  background-color: rgb(51, 51, 51);
}

.sampie_end_text {
  height: 140px;
  width: 50%;
  margin: 0px auto 0px;
  border-top: 40px;
  display: flex;
}