body {
  margin: 0px;
  height: 3000px;
}

.header {
  width: 100%;
  height: 3%;
  //   margin-top: -4%;
  .logo {
    background-image: url("../content/img/default-logo.png");
    width: 140px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 20px 14%;
  }
  .menu_btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 14%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu_btn > span::before {
    content: "";
    top: -8px;
  }
  .menu_btn > span::after {
    content: "";
    top: 8px;
  }
  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    position: absolute;
    z-index: 1;
  }
  .menu_item {
    display: block;
    padding: 12px 100px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 200;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu_item:hover {
    background-color: #cfd8dc;
  }
  #menu_toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
  }
  #menu_toggle {
    opacity: 0;
  }
}
.secshion_one_car {
  height: 820px;
  width: 100%;
  background-color: none;

  .one_car {
    background-image: url("../content/img/one_car.jpg");
    height: 657px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 831px;
    margin-bottom: 20%;
    display: flex;
    object-position: 50% 22%;
    background-position: 50% 22%;
    object-fit: cover;
  }
  .three_ad_blocks {
    height: 356px;
    width: 894px;
    background-position: bottom;
    display: flex;
    justify-content: center;
    flex: 1;
    max-width: 100%;
    transition-duration: inherit;
    top: 0px;
    min-height: 336px;
    margin: 555px auto 0;

    .advertising_first {
      width: 270px;
      height: 270px;
      background-color: #354eb4;
      padding: 27px 4px;
      display: flex;
      margin-bottom: 4px;
      .faster {
        width: 261px;
        height: 227px;
        color: #ffffff;
        left: 30%;
      }
      .credit_cart {
        background-image: url("../content/img/3.jpg");
        width: 100px;
        height: 65px;
        background-repeat: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 22px 93px -7px 81px;
        padding-bottom: 10px;
      }
    }
    .advertising_second {
      width: 267px;
      height: 270px;
      background-color: #4f6057;
      padding: 10px 0px;
      display: flex;
      margin-left: 4px;
      margin-bottom: 4px;
      .key_car {
        background-image: url("../content/img/2.png");
        width: 85px;
        height: 85px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 17px 99px -4px 88px;
      }
    }
    .advertising_third {
      width: 264px;
      height: 271px;
      background-color: #975460;
      padding: 30px 20px;
      display: flex;
      margin-left: 4px;
      .mini_car {
        background-image: url("../content/img/1.png");
        width: 85px;
        height: 85px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: -4px 73px;
      }
    }
  }
}
.text {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px 0 0;
  font-style: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
}
.text_contact {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0px 0 0;
  font-style: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  font-family: Arial, Helvetica, sans-serif;
}
.text_title {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 1px;
  margin: 0px 0px 0px;
  font-style: sans-serif;
  // text-align: center;
  display: flex;
  // justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  word-break: break-all;
}
.coment {
  font-size: 1.25rem;
  font-style: sans-serif;
  letter-spacing: 1px;
  margin: 5px 0 0;
  text-align: center;
  font-weight: 300;
}
.rental {
  width: 260px;
  height: 260px;
  color: #ffffff;
  left: 30%;
}
.batter {
  height: 240px;
  width: 225px;
  color: #ffffff;
  left: 30%;
}
.advantage_block {
  height: 140px;
  left: 24%;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  position: static;
  margin-top: 50px;
  .free {
    height: 65px;
    width: 65px;
    background-image: url("../content/img/free.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: flex-end;
    background-size: contain;
    flex-wrap: nowrap;
    margin-right: 15px;
  }
  .dollar {
    height: 65px;
    width: 65px;
    background-image: url("../content/img/dollar.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-left: 20px;
    background-size: contain;
    margin-right: 15px;
  }
  .day {
    height: 65px;
    width: 65px;
    background-image: url("../content/img/day.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-left: 20px;
    background-size: contain;
    margin-right: 15px;
  }
}
.underlined {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  justify-content: space-evenly;
  cursor: pointer;
}
.underlined_learn {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  cursor: pointer;
}
.underlined_white {
  text-decoration: underline;
  display: flex;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  justify-content: space-evenly;
  cursor: pointer;
  color: #cfd8dc;
}

.for_text {
  height: 40px;
  width: 100%;
  margin-top: 4%;
}
.bookind_box {
  height: 300px;
  width: 100%;
  background-color: #3151aa;
  padding: 50px 50px;
}
.book_text {
  height: 256px;
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: center;
  position: static;
}
.button {
  background-color: #3c496f;
  border: none;
  color: white;
  padding: 12px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 88px 51px;
  cursor: pointer;
  border-radius: 95px;
}
.oll_car {
  width: 100%;
  height: 300px;
  .title_car {
    height: 7px;
    max-width: 70%;
    display: flex;
    margin: auto;
    padding-top: 3%;
  }
}
.car_advertising {
  // width: 60%;
  max-width: 800px;
  height: 1824px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  justify-content: space-between;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
  // max-inline-size: 1140px;

  // flex-direction: row-reverse;

  .blu_car {
    background-image: url("../content/img/001.jpg");
    width: 374px;
    height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 4%;
    // margin: 0px 505px 0px 0px;

    // position: relative;
    // position: absolute;
  }
  .blu_car_second {
    width: 343px;
    height: 333px;
    background-size: contain;
    background-repeat: no-repeat;
    // margin: auto;
  }
  .purple_car {
    background-image: url("../content/img/12.jpg");
    width: 374px;
    height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 4%;
  }
  .purple_car_second {
    width: 343px;
    height: 333px;
    background-size: contain;
    background-repeat: no-repeat;
    // margin: auto;
  }
  .red_car {
    background-image: url("../content/img/xxx.jpg");
    width: 374px;
    height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 4%;
  }
  .red_car_second {
    width: 343px;
    height: 333px;
    background-size: contain;
    background-repeat: no-repeat;
    // margin: auto;
  }
  .orange_car {
    background-image: url("../content/img/13.jpg");
    width: 374px;
    height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 4%;
  }
  .orange_car_second {
    width: 343px;
    height: 333px;
    background-size: contain;
    background-repeat: no-repeat;
    // margin: auto;
  }
  .brown_car {
    background-image: url("../content/img/ghhghg.jpg");
    width: 374px;
    height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 4%;
  }
  .brown_car_second {
    width: 343px;
    height: 333px;
    background-size: contain;
    background-repeat: no-repeat;
    // margin: auto;
  }
}
.text_title_bottom {
  // font-stile:floor($number: 0);
  font-size: 2.87rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 60px 170px 0px;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  word-break: break-all;
  word-break: break-word;
  flex-direction: row-reverse;
}
.title_bottom {
  // font-stile:floor($number: 0);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 32px 200px 0px;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  align-items: center; /*Центрирование по вертикали */
  font-family: italic;
  font-weight: lighter;
  word-break: break-word;
}
.announcement {
  font-size: 26px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  word-break: break-all;
}
.announcement_ziro {
  font-size: 20px;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  word-break: break-word;
  font-weight: lighter;
}
.box {
  width: 198px;
  height: 91px;
  font-size: 26px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  display: flex;
  word-break: break-word;
  align-items: center;
}
.announcement_first {
  height: 28px;
  width: 445px;
  margin: 25px 0px 0px;
  background-color: #ffffff;
  display: flex;
  .places_img {
    background-image: url("../content/img/mesta.png");
    width: 16px;
    height: 16px;
    background-size: contain;
    margin: 6px 5px 10px 0px;
  }
  .suitcase_img {
    background-image: url("../content/img/chemodan.png");
    width: 16px;
    height: 16px;
    background-size: contain;
    margin: 5px 12px 4px 24px;
  }
  .announcement_plases {
    font-size: 18px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    display: flex;
  }
}

.announcement_third {
  height: 153px;
  width: 367px;
  margin: 20px 0px 0px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  display: flex;
}
.button_announcement {
  background-color: #3151aa;
  border: none;
  color: white;
  padding: 9px 93px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 162px 15px 0px;
  cursor: pointer;
  border-radius: 95px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .three_ad_blocks {
    flex-direction: column;
    align-items: center;
    padding-top: 70%;
    position: sticky;
    top: 0px;
  }
}
//   .advertising_first {
//     margin-bottom: 6px;
//     min-width: 560px;
//   }
//   .advertising_second {
//     margin-bottom: 6px;
//     min-width: 547px;
//   }
//   .advertising_third {
//     min-width: 545px;
//   }
//   .secshion_one_car {
//     height: 75%;
//   }
// .secshion_one_car {
//   height: 70%;
// }
// .faster {
//   margin: 0% 0% 0% 25%;
// }
// .rental {
//   margin: 0% 0% 0% 25%;
// }
// .batter {
//   margin: 0% 0% 0% 24%;
// }
//   .underlined {
//     text-decoration: underline;
//     display: flex;
//     font-style: normal;
//     font-weight: 100;
//     font-size: medium;
//     justify-content: space-evenly;
//     cursor: pointer;
//   }
//   .faster {
// max-height: 229px ;
// margin-right: 50%;

// left: 30px;
//   }
//   .credit_cart {

//     left: 30px;
//     position: absolute;
//   }

//   .key_car {
//     margin-left: 50px;

//   }
// }
// .advertising_third {
//   max-height: 195px ;
//   .mini_car {

// margin-left: 10px;
//   }
.best_offers_box {
  height: 381px;
  background-color: #5b6149;
  text-align: center;
  padding: 4%;
  margin-top: 30px;
}
.offers_box {
  height: 296px;
  width: 82%;
  background-position: center;
  margin: auto;
}
.learn_more {
  background-color: white;
  border: none;
  color: #5b6149;
  padding: 15px 54px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 50px 34px;
  cursor: pointer;
  border-radius: 95px;
}
.learn_more_blu {
  background-color: #354eb4;
  border: none;
  color: white;
  padding: 15px 87px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
}
.learn_more_blus {
  background-color: #354eb4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  white-space: nowrap;
  margin-top: -39px;
}
.learn_more_red {
  background-color: white;
  border: none;
  padding: 15px 87px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  color: #945a5c;
}
.learn_more_green {
  background-color: #5b6149;
  border: none;
  padding: 15px 87px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  color: white;
}
.learn_more_pink {
  background-color: #945a5c;
  border: none;
  padding: 15px 97px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 32px 0px;
  cursor: pointer;
  border-radius: 95px;
  color: white;
}
.rent_car {
  height: 500px;
  .blu_picture {
    background-color: #3151aa;
    height: 412px;
    width: 560px;
    margin: 252px 254px 96px 169px;
  }
  .woman_picture {
    background-image: url("../content/img/woman.jpg");
    height: 533px;
    width: 612px;
    margin: -709px 253px 0px 253px;
    object-position: 50% 50%;
    z-index: 1;
    // background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 831px;
    margin-bottom: 20%;
    display: flex;
    background-position: 50% 2%;
    object-fit: cover;
  }
  .rent_text {
    height: 534px;
    width: 570px;
    margin: -631px 253px 0px 806px;
    object-position: 50% 50%;
    z-index: 2;
    background-color: white;
    position: relative;
    transition-duration: inherit;
    .rent_for_text {
      height: 500px;
      width: 410px;
      background-position: center;
      margin: 3px 2px;
      background-color: none;
      margin: auto;
    }
  }
  .title_woman {
    font-size: 44px;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0px 174px 24px 1px;
    font-style: sans-serif;
    // text-align: center;
    display: flex;
    // justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; /*Центрирование по вертикали */
    // color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif Arial, Helvetica, sans-serif;
    // word-break: break-all;
  }
}
.before {
  margin: 30px 0px 24px 1px;
  font-family: FontAwesome;
  color: #324b4e;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
}
.happy_people_box {
  background-color: #945a5c;
  // max-width: 1144px;
  // height: 1224px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
  margin: auto;
  .happy_people {
    height: 700px;
    width: 1300px;
    gap: 3;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
    .happy_women {
      background-image: url("../content/img/hggh.jpg");
      width: 360px;
      height: 221px;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: auto;
      pointer-events: initial;
    }
    .pair {
      background-image: url("../content/img/jhj.jpg");
      width: 360px;
      max-height: 221px;
      background-repeat: no-repeat;
      background-size: contain;
      pointer-events: auto;
      pointer-events: initial;
    }
    .pair_girl {
      background-image: url("../content/img/ghgh.jpg");
      width: 360px;
      height: 221px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .pair_old {
      background-image: url("../content/img/ty.jpg");
      width: 360px;
      height: 221px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .pair_one {
      background-image: url("../content/img/fg.jpg");
      width: 360px;
      height: 221px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .pair_none {
      background-image: url("../content/img/ghghh.jpg");
      width: 360px;
      height: 221px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .info_title {
    height: 94px;
  }
  .info_text {
    height: 100px;
    width: 60%;
    margin-top: 40px;
  }
}
.red_black_cars {
  height: 860px;
  max-width: 800px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;

  .cars {
    background-image: url("../content/img/fxgdf.jpg");
    width: 920px;
    height: 395px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 54px auto 0;
    object-position: 50% 9%;
    background-color: aliceblue;
    background-size: contain;
    z-index: 1;
    position: absolute;
  }
}
.animaition {
  background-color: #5b6149;
  height: 450px;
  width: 1900px;
  will-change: auto;
  animation-duration: 1500ms;
  margin-top: 10%;
  position: relative;
}
.contact_box {
  height: 381px;
  max-width: 1078px;
  // height: 1824px;
  font-style: normal;
  text-align: center;
  background-position: bottom;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
  margin-top: 60px;
  .all_contact_box {
    height: 400px;
    // width: 70%;
    display: flex;
    .one_contact_box {
      height: 380px;
      width: 360px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
    }
    .two_contact_box {
      height: 380px;
      width: 360px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }
    .three_contact_box {
      height: 380px;
      width: 360px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
    }
  }
}
* {
  box-sizing: border-box;
}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
input {
  width: 358px;
  height: 52px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #cbcbc6;
  outline: none;
  position: relative;
  transition: 0.3s linear;
  margin: 0% 5% 4% 4%;
}
input:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
.whatsapp_img {
  background-image: url(../content/img/73.png);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}
.live_img {
  background-image: url(../content/img/74.png);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-size: contain;
}
.Sample_text {
  height: 123px;
  background-color: #5b6149;
}
.website {
  height: 123px;
  background-color: rgba(51, 51, 51);
}
.sampie_end_text {
  height: 140px;
  width: 50%;
  margin: 0px auto  0px;
  border-top: 40px;
  display: flex;
}