body {
  margin: 0px;
  height: 2000px;
}
// .static_module {
//   width: 100%;
//   height: 3%;
//   background-color: blue;
//   .nicepege {
//     background-image: url("..//file/logo-w.png");
//     width: 123px;
//     height: 40px;
//     background-repeat: no-repeat;
//     margin: 0px 55px;
//   }
// }

.header {
  width: 100%;
  height: 3%;
  //   margin-top: -4%;
  .logo {
    background-image: url("../content/img/default-logo.png");
    width: 140px;
    height: 40px;
    background-repeat: no-repeat;
    margin: 20px 14%;
  }
  .menu_btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 14%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu_btn > span,
  .menu_btn > span::before,
  .menu_btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }
  .menu_btn > span::before {
    content: "";
    top: -8px;
  }
  .menu_btn > span::after {
    content: "";
    top: 8px;
  }
  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
    position: absolute;
  }
  .menu_item {
    display: block;
    padding: 12px 100px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 200;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu_item:hover {
    background-color: #cfd8dc;
  }
  #menu_toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu_toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu_toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu_toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
  }
  #menu_toggle {
    opacity: 0;
  }
}
.secshion_one_car {
  height: 1116px;
  // height: 50%;
  width: 100%;
  background-color: none;

  .one_car {
    background-image: url("../content/img/one_car.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-height: 931px;
  }
  .three_ad_blocks {
    height: 356px;
    width: 1140px;
    margin: 0 auto;
    position: absolute;
    bottom: -20%;
    position: absolute;
    left: 24%;
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    .advertising_first {
      width: 313px;
      height: 294px;
      background-color: #354eb4;
      padding: 30px 29px;
      display: flex;

      .faster {
        width: 340px;
        height: 340px;
        color: #ffffff;
        left: 30%;
      }
      .credit_cart {
        background-image: url("../content/img/3.jpg");
        width: 158px;
        height: 104px;
        background-repeat: no-repeat;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 15px 71px;
        padding-bottom: 10px;
      }
    }
    .advertising_second {
      width: 313px;
      height: 294px;
      background-color: #4f6057;
      padding: 30px 29px;
      display: flex;
      .key_car {
        background-image: url("../content/img/2.png");
        width: 128px;
        height: 128px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 4px 93px;
      }
    }
    .advertising_third {
      width: 313px;
      height: 294px;
      background-color: #975460;
      padding: 30px 29px;
      display: flex;
      .mini_car {
        background-image: url("../content/img/1.png");
        width: 128px;
        height: 128px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 3px 95px;
      }
    }
  }
}
.text {
  font-size: 1.87rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
  font-style: normal;
  text-align: center;
}
.coment {
  font-size: 1.25rem;
  font-style: italic;
  letter-spacing: 1px;
  margin: 20px 0 0;
  text-align: center;
}
.rental {
  width: 340px;
  height: 340px;
  color: #ffffff;
  left: 30%;
}
.batter {
  height: 340px;
  color: #ffffff;
  left: 30%;
}
.advantage_block {
  height: 204px;
  background-color: #64b435;
  display: flex;
  justify-content: center;
  .free {
    height: 200px;
    width: 313px;
    background-image: url("../content/img/free.png");
    background-repeat: no-repeat;
    display: flex;
  }
  .dollar {
    height: 200px;
    width: 313px;
    background-image: url("../content/img/dollar.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
  }
  .day {
    height: 200px;
    width: 313px;
    background-image: url("../content/img/day.png");
    background-repeat: no-repeat;
  }
}
